body {
  background: #fbede7;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

.content {
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  max-width: 400px;
  margin: 4em auto;
  border-radius: 8px;
  overflow: hidden;
}

.conversation-title {
  text-align: center;
  padding: 15px;
  background: linear-gradient(to bottom right, #fc4a1a, #f7b733);
  color: #fff;
}
.conversation-title h1 {
  font: 700 18px "Noto Sans", sans-serif;
  margin: 0;
}
.conversation-title .status {
  font-size: 12px;
}

.conversation-wrapper {
  background: #f9f9f9;
  padding: 25px;
  min-height: 500px;
}

.message-sent,
.message-received {
  padding: 0;
}

.message-received {
  text-align: left;
}

.message-sent {
  text-align: right;
}

.bubble {
  border-radius: 8px;
  background: #fff;
  padding: 12px 18px;
  border: 0.5px solid rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  max-width: 70%;
  display: inline-block;
  text-align: left;
}

.timestamp {
  margin: 8px 0;
}
.timestamp .avatar {
  border-radius: 50%;
  background: linear-gradient(to top right, #fc4a1a, #f7b733);
  display: inline-block;
  width: 25px;
  height: 20px;
  vertical-align: top;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding-top: 5px;
}
.timestamp .time {
  display: inline-block;
  font-size: 12px;
  color: #999;
  margin: 0 5px;
}

.messaging-area {
  position: relative;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.messaging-area input {
  font: 16px "Noto Sans", sans-serif;
  border: none;
  padding: 20px 30px;
  width: 100%;
}
.messaging-area input:focus {
  outline: 0;
}
.messaging-area a.send {
  background: linear-gradient(to top right, #fc4a1a, #f7b733);
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 8px 10px 12px;
  position: absolute;
  font-size: 1.4em;
  text-align: center;
  right: 8px;
  bottom: 8px;
}

aside.context {
  text-align: center;
}
aside.context a {
  text-decoration: none;
  color: #111;
  padding: 3px 0;
  border-bottom: 1px dashed;
}
aside.context .explanation {
  max-width: 700px;
  margin: 2em auto;
}

footer {
  text-align: center;
  margin: 5em auto;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #111;
  color: #111;
  margin: 5px;
}
footer a:hover {
  background: rgba(0, 0, 0, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}
